@import '../../../styles/variables';

.steps-container {
  background: $color-light-gray;
  position: absolute;
  width: 100%;
  left: 0;
  height: 56px;

  .steps-container__content {
    max-width: 1120px;
    height: 100%;
    justify-content: center;
    align-items: center;
    gap: 16px;
    margin-left: auto;
    margin-right: auto;

    // Estilos para Desktop
    &.desktop-steps {
      display: flex;

      .content__step {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 16px;

        .step__number {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 24px;
          height: 24px;
          border-radius: 99px;

          &.fill {
            background-color: $color-blue;
            color: $color-white;
          }
          &.outline {
            border: 1.5px solid $color-gray-blue;
            color: $color-gray-blue;
          }
        }

        .step__text {
          &.strong-color {
            font-weight: bold;
            color: $color-dark-gray;
          }
          &.soft-color {
            color: $color-gray-blue;
          }
        }
      }

      .content__divider {
        color: $color-blue;
        font-size: $font-size-18;
      }
    }

    // Estilos para Mobile
    &.mobile-steps {
      display: none; // Ocultar por defecto
    }
  }
}

// Media Query para pantallas pequeñas
@media screen and (max-width: 700px) {
  .steps-container {
    background: none;
    border-bottom: 1px solid #D7DBF5;

    .steps-container__content {
      &.desktop-steps {
        display: none; // Ocultar en mobile
      }

      &.mobile-steps {
        display: flex; // Mostrar en mobile

        .content__step {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 16px;
          width: 100%;

          .step__text {
            font-size: 10px;
            font-weight: bold;
            min-width: 65px;
          }

          .step__progress-bar {
            height: 6px;
            width: 100%;
            background: #D7DBF5;
            border-radius: 50px;

            .progress-bar__fill {
              height: 100%;
              background-color: $color-blue;
              border-radius: 50px;

              &.first {
                width: 50%; // Progreso al 50%
              }
              &.second {
                width: 100%; // Progreso al 100%
              }
            }
          }
        }
      }
    }
  }
}