// Colores
$color-red: #FF1C44;
$color-light-red: #FF1C44;
$color-blue: #4F4FFF;
$color-green-light: #7DF0BA;
$color-green-dark: #389E0D;
$color-dark-black: #03050F;
$color-dark-gray: #141938;
$color-gray-blue: #7981B2;
$color-light-background: #FAFBFF;
$color-light-gray: #EDEFFC;
$color-white: #FFFFFF;
$color-black: #000000;

// Tamaños de fuente
$font-size-base: 14px;
$font-size-10: 10px;
$font-size-12: 12px;
$font-size-14: 14px;
$font-size-16: 16px;
$font-size-18: 18px;
$font-size-20: 20px;
$font-size-22: 22px;
$font-size-24: 24px;
$font-size-28: 28px;
$font-size-32: 32px;
$font-size-40: 40px;

// Line Height
$line-height-16: 16px;
$line-height-20: 20px;
$line-height-24: 24px;
$line-height-28: 28px;
$line-height-32: 32px;

// Pesos de fuente
$font-weight-400: 400;
$font-weight-500: 500;
$font-weight-600: 600;
$font-weight-700: 700;

// Border Radius
$radius-10: 10px;
$radius-20: 20px;
$radius-30: 30px;
$radius-40: 40px;
$radius-50: 50px;

// Espaciado
$default-gap: 5rem;
$default-gap-24: 24px;