@import '../../../styles/variables';
.loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $color-light-gray; 
  z-index: 9999;

  &__spinner {
    margin: 0 auto;
    border: 4px solid rgba(79, 79, 255, 0.3);
    border-top: 4px solid $color-blue;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 1s linear infinite;
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}
  