@import '../../../styles/variables';
.button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 20px 40px;
  gap: 8px;

  width: 195px;
  height: 64px;
  background-color: $color-dark-black;
  border-radius: 40px;

  &__text {
    width: 115px;
    height: 24px;
    font-family: 'BR Sonoma', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: $font-size-20;
    line-height: 24px;
    text-align: center;
    color: $color-white;
  }

  &__icon {
    width: 20px;
    height: 20px;
    display: none;
  }
}